<section class="features">        
	<div class="container is-full">
		<div class="features__row">
			<div class="features__block span_9 seasonal-message has-background_green_lime">
				<div class="image-overlay" style="background-image:url(images/students.jpg)"></div>
				<div class="block-container is-long">
					<h2>Applications for our <strong>June 3-16</strong> fellowship program are now open</h2>
					<a href="content-form.html" class="h2-style arrow-link arrow-white">Apply for consideration</a>
				</div>
			</div>
			<div class="features__block span_3 newsletter has-background_blue_mid_light">
				<div class="block-container is-long">
					<h3>Stay in the loop</h3>
					<p class="intro">Get the latest news,<br /> programs and events.</p>
					<form id="mc-form">
						<input type="email" name="EMAIL" id="mc-email" placeholder="Enter your email" />
						<button type="submit" value="Subscribe">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
		<div class="features__row">
			<div class="features__block span_6 testimonial has-background_blue_light">
				<div class="alumni-image"><img src="images/Chloe-English-Syd.jpg" alt="Alumni" /></div>
				<div class="block-container">
					<h3>What our alumni say</h3>
					<blockquote><p>I want to think strategically about how to make change</p></blockquote>
					<a href="#" class="h3-style arrow-link">Meet Alana Tweddle</a>
				</div>
			</div>
			<div class="features__block span_6 seasonal-message has-background_orange">
				<div class="block-container">
					<h2>Start an <strong>intrapreneurship</strong> <br />within your organisation</h2>
					<a href="#" class="h3-style arrow-link arrow-white">Find out more</a>
				</div>
			</div>
		</div>
		<div class="features__row">
			<div class="features__block span_12 partners-section has-background_blue_ver_light">
				<div class="block-container">
					<h2>Proudly supported by</h2>
					<ul class="partners">
						<li class="partners__item"><a href="#"><img src="images/boeing.png" alt="Boeing" /></a></li>
						<li class="partners__item"><a href="#"><img src="images/british-council.png" alt="British Council" /></a></li>
						<li class="partners__item"><a href="#"><img src="images/interface.png" alt="Interface" /></a></li>
						<li class="partners__item"><a href="#"><img src="images/ian-potter.png" alt="The IAN Potter Foundation" /></a></li>
						<li class="partners__item"><a href="#"><img src="images/nsw.png" alt="NSW" /></a></li>
						<li class="partners__item"><a href="#"><img src="images/acf.png" alt="Australian Communities" /></a></li>
						<li class="partners__item"><a href="#"><img src="images/minds-at-work.png" alt="Minds a work" /></a></li>
						<li class="partners__item"><a href="#"><img src="images/thick.png" alt="Thick" /></a></li>
					</ul>
					<div class="view-more"><a href="#" class="arrow-link">Our partners</a></div>
				</div>
			</div>
		</div>
	</div>
</section>