<section class="features">        
	<div class="container is-full">
		<div class="features__row">
			<div class="features__block seasonal-message has-background_green_lime">
				<div class="image-overlay" style="background-image:url(images/students.jpg)"></div>
				<div class="text is-long">
					<h2>Applications for our <strong>June 3-16</strong> <br /> fellowship program are now open</h2>
					<a href="content-form.html" class="h2-style arrow-link arrow-white">Apply for consideration</a>
				</div>
			</div>
			<div class="features__block newsletter has-background_blue_mid_light">
				<div class="text is-long">
					<h3>Stay in the loop</h3>
					<p class="intro">Get the latest news, programs and events.</p>
					<form name="newsletter" action="index.html" method="post">
						<input type="email" name="nw-email" id="nw-email" placeholder="Enter your email" />
						<button type="submit" name="nw-submit" value="Subscribe">Subscribe</button>
					</form>
				</div>
			</div>						
		</div>
		<div class="features__row">
			<div class="features__block testimonial has-background_blue_light">
				<div class="alumni-image"><img src="images/Chloe-English-Syd.jpg" alt="Alumni" /></div>
				<div class="text">
					<h3>What our alumni say</h3>
					<blockquote><p>I want to think strategically about how to make change</p></blockquote>
					<a href="#" class="h3-style arrow-link">Meet Alana Tweddle</a>
				</div>
			</div>
			<div class="features__block org-promo has-background_orange">
				<div class="text">
					<h2>Start an <strong>intrapreneurship</strong> <br />within your organisation</h2>
					<a href="#" class="h3-style arrow-link arrow-white">Find out more</a>
				</div>
			</div>						
		</div>	
	</div>
</section>