<nav id="primary-nav" class="nav">
	<div class="nav__badge">
		<a href="#"><span></span>Menu</a>
	</div>
	<img src="images/list--Menu.png" />		 
	<ul class="nav__list">
		<li class="nav__item"><a class="nav__link" href="index.html">Home</a></li>
		<li class="nav__item"><a class="nav__link" href="#">What we do</a></li>
		<li class="nav__item"><a class="nav__link" href="collection-programs.html">Our programs</a></li>
		<li class="nav__item"><a class="nav__link" href="#">For organisations</a></li>
		<li class="nav__item"><a class="nav__link" href="collection-alumni.html">For alumni</a></li>
		<li class="nav__item"><a class="nav__link" href="#">Contribute</a></li>
	</ul>
	<ul class="nav__list nav--smaller">
		<li class="nav__item"><a class="nav__link" href="#">About us</a></li>
		<li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
		<li class="nav__item"><a class="nav__link" href="collection-alumni.html">Alumni directory</a></li>
		<li class="nav__item"><a class="nav__link" href="collection-partners.html">Our partners</a></li>
		<li class="nav__item"><a class="nav__link" href="#">News</a></li>
		<li class="nav__item"><a class="nav__link" href="#">Events</a></li>
	</ul>
</nav>