<section class="partners-section">			
	<div class="container is-full">
		<h2>Proudly supported by</h2>
		<ul class="partners">
			<li class="partners__item"><a href="#"><img src="images/boeing.png" alt="Boeing" /></a></li>
			<li class="partners__item"><a href="#"><img src="images/british-council.png" alt="British Council" /></a></li>
			<li class="partners__item"><a href="#"><img src="images/interface.png" alt="Interface" /></a></li>
			<li class="partners__item"><a href="#"><img src="images/ian-potter.png" alt="The IAN Potter Foundation" /></a></li>
			<li class="partners__item"><a href="#"><img src="images/nsw.png" alt="NSW" /></a></li>
			<li class="partners__item"><a href="#"><img src="images/acf.png" alt="Australian Communities" /></a></li>
			<li class="partners__item"><a href="#"><img src="images/minds-at-work.png" alt="Minds a work" /></a></li>
			<li class="partners__item"><a href="#"><img src="images/thick.png" alt="Thick" /></a></li>
		</ul>
		<div class="view-more"><a href="#" class="arrow-link">Our partners</a></div>
	</div>					 
</section>