// =====================================================
// ------------- Siegmeyer II Global Styles ------------
// =====================================================
// @author Thomas Bredin-Grey <tbredin@gmail.com>
// Siegmeyer II: https://github.com/tbredin/Siegmeyer2
// =====================================================


html, body {
    margin: 0;
    background-color: site-color(white);
}

@if $debug-breakpoints == true and $debug-allow == true {
    @include debug-breakpoints;
}

img {
    -ms-interpolation-mode: bicubic;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
}

svg {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 0.25s linear;
}

::placeholder {
    color: site-color(gray_light);
    transition: color 0.25s ease;    
}

:hover::placeholder {
    color: lighten(site-color(gray), 10%);
}

:focus::placeholder {
    color: lighter(site-color(gray_light), 10);
}

.container {
    @include set-container;
    @extend %typeset;
    clear: both;
	@include rem(padding-left, 3rem);
	@include rem(padding-right, 3rem);
	box-sizing: padding-box;
	&.is-full{
		padding: 0px;
	}
}

.content{
	//transition: all 0.2s ease;
	&--has-nav{
		@include rem(margin-left, 19.06rem);
		.container, .footer__left__container{
			@include rem(margin-left, 3rem);
		}
	}
}