.pre-footer{
	@include  rem(margin-top, 1.5rem);
	@include clearfix;
	&__container{
		@include rem(max-width, 30.24rem);
		@include rem(margin-top, 7.3rem);		
		@include rem(margin-bottom, 4.375rem);
		margin-left: auto;
		@include clearfix;
	}
	&__left{
		@include span(5 of 12);
		float: left;
		.pre-footer__container{
			@include rem(padding-left, 3rem);
			box-sizing: border-box;
		}
	}
	
	&__right{
		@include span(7 of 12);
		float: left;
		background: site-color(blue_ver_light);	
		.pre-footer__container{
			margin-right: auto;
		}
		
	}
	h3{
		font-weight: bold-of($display-type);		
	}
	.footer-menu{
		list-style: none;
		padding: 0px;
		float: left;
		@include span(6 of 12);
		li{
			padding: 0px;
			border-bottom: 0px;
			margin: 0px 0px 10px;
			a{
				//@include text-link(site-color(blue),site-color(blue_dark),90%);
			}
		}
	}
	
	.get-in-touch{
		@include clearfix;
		@include rem(margin-bottom, 3rem);
		.contact-email{
			float: left;
			@include rem(font-size, 1.5rem);
		}
		.social-networks{
			float: right;
			a{
				margin-left: 5px;
				img{
					max-width: 24px;
				}
				&:after{
					display: none;
				}
			}
		}
	}
	
	.location{
		float: left;
		@include span(5 of 12);
		@include rem(margin-right, 1rem);
		p{
			margin-bottom: 0px;
			span{
				@include text-link(site-color(blue));
			}
		}
	}
}

.footer{	
	background: site-color(blue_ver_light);	
	@include rem(padding-bottom, 4.2rem);
	@include clearfix;
	&__left{
		@include span(5 of 12);
		float: left;
		&__container{
			@include rem(max-width, 30.24rem);
			@include rem(padding-left, 3rem);
			@include rem(margin-top, 7.41rem);			
			margin-left: auto;
			box-sizing: border-box;			
		}
	}
	&__right{
		@include span(7 of 12);
		float: left;
		background: site-color(blue_mid_light);
		&__container{
			@include rem(margin-top, 1.765rem);
			img{
				@include rem(max-width, 17rem);
			}
		}
	}
}