.footer{	
	background: site-color(blue_ver_light);	
	@include rem(padding-bottom, 4.2rem);
	@include clearfix;
	.thick-logo{
		@include span(5 of 12);
		float: left;
		.container{
			@include rem(max-width, 30.24rem);
			@include rem(margin-top, 7.41rem);			
			margin-left: auto;
			margin-right: 0px;
			@include rem(padding-left, 3rem);
			padding-right: 0px;
			box-sizing: border-box;			
		}
	}
	.csl-footer-logo{
		@include span(7 of 12);
		float: left;
		background: site-color(blue_mid_light);
		.container{
			@include rem(margin-top, 1.765rem);
			padding: 0px;
			img{
				@include rem(max-width, 17rem);
			}
		}
	}
}