.header{
	background: site-color(blue_ver_light);
	@include rem(padding-top, 3.125rem);
	@include rem(padding-bottom, 6.875rem);
	.container{
		.logo{
			float: right;
			@include rem(width, 16.94rem);
			display: block;
			margin: 0;
			padding: 0;
			border: 0;
			outline: none !important;
			transform: translateZ(0);
			border-bottom: 0 none;
			background-image: none !important;
			@include svg-frame(383, 303);
			z-index: 90;
			position: relative;
		}
		.header-intro{			
			padding-top: 10rem;
			max-width: 52rem;
			&.header-home{
				padding-top: 7.5rem;
			}
			&.header-alumni{ // Content Alumni template
				p{
					padding-top: 0;
					@include rem(font-size, 1rem);
				}
				.alumni-designation{
					@include rem(margin-right, 2rem);					
				}
			}
			&.header-program{
				p{
					padding-top: 0;
					@include rem(font-size, 1rem);
				}
				.program-schedule{
					@include rem(margin-right, 2rem);	
				}
			}
		}
	}
}