.header{
	background: site-color(blue_ver_light);
	padding-top: 50px;
	padding-bottom: 110px;
	.container{
		.logo{
			float: right;
            a {
                display: block;
                width: 271px;
				height: 212px;
                margin: 0;
                padding: 0;
                border: 0;
                text-indent: -999em;
				@include svg-bg(logo);
				background-repeat: no-repeat;
				background-size: cover;
				outline: none !important;
				&:after{
					display: none;
				}
            }
		}
		.header-intro{			
			padding-top: 10rem;
			max-width: 52rem;
			&.header-home{
				padding-top: 7.5rem;
			}
			&.header-alumni{ // Content Alumni template
				p{
					padding-top: 0px;
					@include rem(font-size, 1rem);
				}
				.alumni-designation{
					@include rem(margin-right, 2rem);					
				}
			}
			&.header-program{
				p{
					padding-top: 0px;
					@include rem(font-size, 1rem);
				}
				.program-schedule{
					@include rem(margin-right, 2rem);	
				}
			}
		}
	}
}