.testimonial{
	&__item{
		float: left;
		@include rem(margin-top, 5rem);
		@include rem(margin-bottom, 4rem);
		@include rem(max-width, 28.75rem);
		h3{
			color: site-color(white);
			font-weight: bold-of($display-type);
			border: 0px;
		}
		blockquote{
			p{
				color: site-color(white);
				&:before{
					color:rgba(255, 255, 255, 0.15);
				}
			}
		}
	}
	&__cover{
		float: left;
		@include rem(width, 14.94rem);
		@include rem(margin-left, 3.75rem);
		img{
			@include filter_elements(grayscale(100%));
			opacity: 0.4;
		}
	}
	// theming colors
	@each $color in $site-color-names {
		&.has-background_#{'' + $color} {
			background: site-color($color);
		}
	}
}